.button{
    @include pt-mono();
    margin: 1.75rem 10px; /*30px ~ 1.75em ????*/

    &--login{
        background-color: $color-white;
        color: $color-quicksilver;
        border-style: solid;
        border-color: $color-quicksilver;

        &:hover{
            background-color: $color-white;
            color: $color-outerspace;
            border-style: solid;
            border-color: $color-black;
            cursor: pointer;
        }
    }

    &--register{
        background-color: $color-shinyshamrock;
        color: $color-white;
        border-style: solid;
        border-color: $color-shinyshamrock;

        &:hover{
            background-color: $color-turquoisegreen;
            color: $color-outerspace;
            border-style: solid;
            border-color: $color-turquoisegreen;
            cursor: pointer;
        }
    }
}
