/* Colores */
$color-white: #fff;
$color-isabelline: #EEEDED;
$color-spanishgray: #989797;

$color-bluedefrance: #3C91E6;

$color-shinyshamrock: #4CA866;
$color-turquoisegreen: #9DCFAB;
$color-pastelgray: #BDDFC7;

$color-flame: #E4572E;

$color-coral: #EACB31 ;/* #FA824C; */

$color-black: #000000;
$color-outerspace: #454545;
$color-quicksilver: #A2A2A2;

/* Tipografías */
$font-roboto: "Roboto", sans-serif;
$font-pt_mono: "PT Mono", monospace;

$fontsize-xxxl: 70px;
$fontsize-xxl: 40px;
$fontsize-xl: 30px;
$fontsize-l: 18px;
$fontsize-m: 16px;

$fontweight-regular: 400;
$fontweight-light: 300;