@charset "UTF-8";
/* 1.- Abstracts */
/* Tipografías */
/* Caja de texto */
/* Colores */
/* #EACB31; */
/* Tipografías */
/* 2.- Vendors */
/* 3.- Base */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* 4.- Layout */
.main {
  position: relative;
  top: 7rem;
  z-index: -2;
}

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__leftside {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.navbar__rightside {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.navbar__logo {
  width: 40px;
  margin: 1.75rem 60px;
}
.navbar__options {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  color: #A2A2A2;
  display: inline-flex;
  margin-right: 30px;
}
.navbar__options:hover {
  color: #000000;
  cursor: pointer;
}

.header {
  background-color: #fff;
  display: flex;
}
.header__title {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  padding-left: 20%;
  padding-right: 20%;
}
.header__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  padding-left: 20%;
  padding-right: 20%;
}
.header__image {
  top: 0%;
  width: 69%;
  float: left;
}
.header__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0%;
  width: 31%;
  float: right;
}

.section {
  position: absolute;
  top: 0%;
  display: flex;
}
.section__title {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.section__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
.section__box {
  background-color: #fff;
  position: absolute;
  top: 200%;
  left: 33%;
  width: 33%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.section__subbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 7rem;
  margin: 1rem;
  background-color: #fff;
}
.section__arrow {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #fff;
}
.section__arrow-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 190%;
  left: 68%;
  background-color: #E4572E;
  width: 8rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 8rem;
  z-index: 1;
  align-items: center;
}
.section__colorbox {
  background-color: #FA824C;
  position: absolute;
  top: 200%;
  left: 69%;
  right: 31%;
  width: 8rem;
  height: 8rem;
  z-index: 0;
}
.section__image-1 {
  position: relative;
  top: 30rem;
  left: 66%;
  right: 33%;
  width: 5rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__image-2 {
  position: relative;
  width: 28%;
}

.footer {
  background-color: #fff;
  display: flex;
}
.footer__title {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 10%;
}
.footer__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 10%;
}
.footer__image {
  top: 0%;
  width: 28%;
  float: right;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0%;
  width: 34%;
  float: left;
}
.footer__colorbox {
  background-color: #3C91E6;
  top: 0%;
  width: 38%;
  height: 12rem;
}

/* 5.- Components */
.button {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 1.75rem 1rem;
  padding: 0.5rem;
}
.button--login {
  background-color: #fff;
  color: #A2A2A2;
  border-style: solid;
  border-color: #A2A2A2;
}
.button--login:hover {
  background-color: #fff;
  color: #454545;
  border-style: solid;
  border-color: #000000;
  cursor: pointer;
}
.button--register {
  background-color: #4CA866;
  color: #fff;
  border-style: solid;
  border-color: #4CA866;
}
.button--register:hover {
  background-color: #9DCFAB;
  color: #454545;
  border-style: solid;
  border-color: #9DCFAB;
  cursor: pointer;
}

/* 6.- Pages */
/* 7.- Themes *//*# sourceMappingURL=main.css.map */