.header{
    background-color: $color-white;
    display: flex;
    &__title{
        @include pt-mono($fontsize-xxxl);
        padding-left: 20%;
        padding-right: 20%;
    }
    &__paragraph{
        @include roboto($fontsize-xl);
        padding-left: 20%;
        padding-right: 20%;
    }

    &__image{
        top: 0%;
        width: 69%;
        float: left;
    }
    &__box{
        @include text-box();
        top: 0%;
        width: 31%;
        float: right;
    }
}